{% extends 'baseBack.html.twig' %}

{% block title %}Soldes des Congés{% endblock %}

{% block body %}

    <h3 class="panel-title">Acquis & Soldes</h3>
    <section class="panel">
        <header class="panel-heading">
            <a href="{{ path('vacation_new') }}" class="btn btn-primary" role="button">Créer un nouveau congé</a>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-list">
                <thead>
                    <tr>
                        <th>Salarié</th>
                        <th>Période</th>
                        <th>Début cumul</th>
                        <th>Fin cumul</th>
                        <th>Acquis</th>
                        <th>Utilisé(s)</th>
                        <th>Solde</th>
                        <th>Type</th>
                        <th>Utilisable jusqu'au</th>
                        <th class="no-sort">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vacation in vacations %}
                        <tr>
                            <td>{{ vacation.user.firstName }} {{ vacation.user.lastName }}</td>
                            <td>{{ vacation.period }}</td>
                            <td>{{ vacation.startAt ? vacation.startAt|date('d/m/Y') : '' }}</td>
                            <td>{{ vacation.endAt ? vacation.endAt|date('d/m/Y') : '' }}</td>
                            <td>{{ vacation.win }}</td>
                            <td>{{ vacation.spent }}</td>
                            <td>{{  vacation.win  - vacation.spent }}</td>
                            <td>{{ vacation.vacationType.name }}</td>
                            <td>{{ vacation.expiredAt ? vacation.expiredAt|date('d/m/Y') : '' }}</td>

                            <td>
                                <a href="{{ path('vacation_show', {'id': vacation.id}) }}" data-toggle="tooltip" title="Voir détail"><i class="btn btn-info fa fa-eye"></i></a>
                                <a href="{{ path('vacation_edit', {'id': vacation.id}) }}" data-toggle="tooltip" title="Modifier"><i class="btn btn-warning fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
