{% extends 'base.html.twig' %}

{% block title %}Vacation index{% endblock %}

{% block body %}
    <h1>Vacation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Period</th>
                <th>Win</th>
                <th>Spent</th>
                <th>StartAt</th>
                <th>EndAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vacation in vacations %}
            <tr>
                <td>{{ vacation.id }}</td>
                <td>{{ vacation.period ? vacation.period|date('Y-m-d') : '' }}</td>
                <td>{{ vacation.win }}</td>
                <td>{{ vacation.spent }}</td>
                <td>{{ vacation.startAt ? vacation.startAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vacation.endAt ? vacation.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vacation.createdAt ? vacation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vacation.updatedAt ? vacation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('vacation_show', {'id': vacation.id}) }}">show</a>
                    <a href="{{ path('vacation_edit', {'id': vacation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vacation_new') }}">Create new</a>
{% endblock %}
