{#{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}#}

<div class="row">
    
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    
    <div class="col-md-6">
        <section class="panel">
            <div class="panel-body">

                <div class="form-group">
                    {{ form_label(form.startAt, "Début", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.startAt) }}

                    <div class="col-sm-8">
                        {# Génération de l'input. #}
                        {{ form_widget(form.startAt, {'id': 'startDate', 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.endAt, "Fin", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.endAt) }}

                    <div class="col-sm-8">
                        {# Génération de l'input. #}
                        {{ form_widget(form.endAt, {'id': 'endDate', 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.vacationType, "Type d'absence", {'label_attr': {'class': 'col-sm-3 control-label select2-container'}}) }}
                    {{ form_errors(form.vacationType) }}

                    <div class="col-sm-9">
                        {# Génération de l'input. #}
                        {{ form_widget(form.vacationType, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.requestStatus, "Statut", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.requestStatus) }}

                    <div class="col-sm-9">
                        {# Génération de l'input. #}
                        {{ form_widget(form.requestStatus, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
    
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="panel">
            <div class="panel-body">
                <div class="form-group">
                    {{ form_label(form.userComment, "Commentaire du salarié", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.userComment) }}

                    <div class="col-sm-8">
                        {# Génération de l'input. #}
                        {{ form_widget(form.userComment, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.managerComment, "Commentaire du manager", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {{ form_errors(form.managerComment) }}

                    <div class="col-sm-8">
                        {# Génération de l'input. #}
                        {{ form_widget(form.managerComment, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
    
            </div>
        </section>    
    </div>
    {{ form_end(form) }}
</div>