{% extends 'baseBack.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {'navCurrent': 'Modification du mot de passe', 'navParent': 'Gestion des salariés'} %}
{% endblock breadcrumbs %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        {{ form_label(form.oldPassword, null, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        {{ form_errors(form.oldPassword) }}

                        <div class="col-md-8">
                            {# Génération de l'input. #}
                            {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.newPassword.first, null, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        {{ form_errors(form.newPassword.first) }}

                        <div class="col-md-8">
                            {# Génération de l'input. #}
                            {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.newPassword.second, null, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        {{ form_errors(form.newPassword.second) }}

                        <div class="col-md-8">
                            {# Génération de l'input. #}
                            {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12">
            <footer class="panel-footer">
                <button class="btn btn-primary">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    {{ button_label|default('Enregistrer') }}
                </button>
                <a class="btn btn-warning" href="javascript:history.go(-1)">
                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                    Annuler
                </a>
            </footer>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

