{% extends 'baseBack.html.twig' %}

{% block title %}Liste des Salariés{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {'navCurrent': 'Liste des Salariés', 'navParent': 'Gestion des salariés'} %}
{% endblock breadcrumbs %}

{% block body %}
    <section class="panel">
        <header class="panel-heading">
            <div class="card-header">
                <div>
                    <a class="btn btn-primary" href="{{ path('app_register') }}"> <i class="fa fa-user"
                                                                                     aria-hidden="true"></i>
                        Ajouter un nouveau salarié</a>
                </div>
            </div>
        </header>
        <div class="panel-body">
            <table id="datatable-list" class="table table-bordered table-striped table-condensed mb-none">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Matricule</th>
                    <th>Email</th>
                    <th>Département</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.matricule }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.entity.name }}</td>
                        <td>
                            <a class="btn btn-info" href="{{ path('user_show', {'id': user.id}) }}"
                               data-toggle="tooltip" title="Voir"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}"
                               data-toggle="tooltip" title="Modifier"><i class="fa fa-edit"></i></a>
                            {{ include('user/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Il n'y a aucun salarié enregistré</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
