{% extends 'baseBack.html.twig' %}

{% block title %}Liste des Salariés{% endblock %}

{% block body %}
<div class="row">
    <section class="panel">
        <header class="panel-heading">
            <div class="card-header">
                <div>
                    <a class="btn btn-primary float-right" href="{{ path('app_register') }}"> <i class="fas fa-user-edit" aria-hidden="true"></i>
                        Ajouter un nouveau salarié</a>
                </div>
            </div>
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
            </div>
        </header>
        <div class="panel-body">
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="datatable-default" class="table table-bordered table-striped table-condensed mb-none mt-2">
                        <thead class="p-1 text-white">
                        <tr>
                            <th class="th-sm">Nom</th>
                            <th class="th-sm">Prenom</th>
                            <th class="th-sm">Matricule</th>
                            <th class="th-sm">Email</th>
                            <th class="th-sm">Département</th>
                            <th class="th-sm">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.matricule }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.entity.name }}</td>
                                <td>
                                    <a class="btn btn-info" href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                                    <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i></a>
                                    {{ include('user/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
        </footer>
    </section>
</div>
{% endblock %}
