{% extends 'baseBack.html.twig' %}

{% block title %}Profil Salarié{% endblock %}

{% block body %}
    <div class="container-fluid">

                <div class="row">
                    <div class="col-md-4">
                        <section class="card">
                        <h1><i class="fas fa-user"></i> Informations Personnelles</h1>
                        <div>
                            Nom : {{ user.firstname }} {{ user.lastname }}
                        </div>
                        <div>
                            Matricule : {{ user.matricule }}
                        </div>
                        <div>
                            Adresse mail : {{ user.email }}
                        </div>
                        <div>
                            Date de naissance : {{ user.birthdate ? user.birthdate|date('d-m-Y') : '' }}
                        </div>
                        <div>
                            Date d'entrée : <span>{{ user.createdAt ? user.createdAt|date('d-m-Y') : '' }}</span>
                        </div>
                        <div>
                            <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i> Modifier mes infos perso</a>
                        </div>
                        <div>
                            <a class="btn btn-warning" href="{{ path('change_password', {'id': user.id}) }}"><i class="fas fa-edit"></i> Modifier mon mot de passe</a>
                        </div>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <section class="card">
                            <h1>Contact</h1>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <section class="card">
                            <h1>Informations Professionnelles</h1>
                        </section>
                    </div>
                </div>

    </div>
{% endblock %}
