{% extends 'base.html.twig' %}

{% block title %}Profil Salarié{% endblock %}

{% block body %}
    <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="bg-info p-1 text-white">
                                    <h1><i class="fas fa-user-tie"></i> Informations Personnelles</h1>
                                </div>
                                <div>
                                    Nom : {{ user.firstname }} {{ user.lastname }}
                                </div>
                                <div>
                                    Matricule : {{ user.matricule }}
                                </div>
                                <div>
                                    Identifiant : {{ user.username }}
                                </div>
                                <div>
                                    Adresse mail : {{ user.email }}
                                </div>
                                <div>
                                    Date de naissance : {{ user.birthdate ? user.birthdate|date('d-m-Y') : '' }}
                                </div>
                                <div>
                                    <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i> Modifier mes infos perso</a>
                                    <a class="btn btn-warning" href="{{ path('change_password', {'id': user.id}) }}"><i class="fas fa-edit"></i> Modifier mon mot de passe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="bg-info p-1 text-white">
                                    <h1><i class="fas fa-address-card"></i> Contact</h1>
                                </div>
                                {% for address in user.addresses %}
                                    <div>
                                        Rue : {{ address.street }}
                                    </div>
                                    <div>
                                        Quarier : {{ address.cityArea }}
                                    </div>
                                    <div>
                                        Commune : {{ address.municipality.name }}
                                    </div>
                                {% endfor %}
                                <div>
                                    Téléphone : {{ user.phone1 }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="bg-info p-1 text-white">
                                    <h1><i class="fas fa-briefcase"></i>  Infos Professionnelles</h1>
                                </div>
                                <div>
                                    Département : {{ user.entity.name }}
                                </div>
                                <div>
                                    Date d'entrée : <span>{{ user.createdAt ? user.createdAt|date('d-m-Y') : '' }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    </div>
{% endblock %}
