<div class="row">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        {{ form_label(form.street, null, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        {{ form_errors(form.street) }}

                        <div class="col-md-8">
                            {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.cityArea, null, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        {{ form_errors(form.cityArea) }}

                        <div class="col-md-8">
                            {{ form_widget(form.cityArea, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.municipality, null, {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                        {{ form_errors(form.municipality) }}

                        <div class="col-md-8">
                            {{ form_widget(form.municipality, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </section>
            <footer class="panel-footer">
                <button class="btn btn-primary">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    {{ button_label|default('Enregistrer') }}
                </button>
                <button type="reset" class="btn btn-warning">
                    <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                    Annuler
                </button>
            </footer>
        </div>
    {{ form_end(form) }}
</div>

